:root {
  --resultWidth: 280px;
  --resultPadding: 5px;
  --resultImage: calc(var(--resultWidth) - 5px - (var(--resultPadding) * 2));
}

* {
  box-sizing: border-box;
}

.homepage {
  background-image: url(lines2.jpeg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.logo-biggest {
  height: 60vh;
  right: 10vw;
  top: 10vh;
  position: fixed;
}

body {
  margin: 0 auto;
}


.search {
  border-bottom: 3px black solid;
  height: 145px;
  /* display: flex;
  flex-wrap: wrap; */
  background-image: url(seamlessWave.png);
}

.logo-big {
  position: relative;
  height: 100px;
  left: 40px;
  top: 20px;
}

#company {
  position: absolute;
  left: 150px;
  top: 40px;
}

.searchBar {
  position: absolute;
  right: 30px;
  top: 70px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .owl-dots {
    bottom: 20px;
  }
}

.owl-dots {
  text-align: center;
  margin-top: 0px;
  position: absolute;
  /* width: 100%; */
  left: 50%;
}

.owl-dots .owl-dot {
  display: inline-block;
}

.featured {
  text-align: center;
}

.featured h4 {
  margin-top: -15px;
}

.yourResults {
  margin-top: 60px;
  padding-left: 20px;
}

.result-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px red solid; */
  justify-content: space-around;
}

.result-image {
  /* border: 1px indigo solid; */
  border-radius: 17% 17% 0 0;
  width: var(--resultImage);
}

.fake-result-image {
  width: var(--resultImage);
  height: calc(var(--resultImage) - 20px);
  border-radius: 17% 17% 0 0;
  background: darkgray;
}

.result {
  border: 2px black solid;
  border-radius: 15% 15% 15% 2%;
  width: var(--resultWidth);
  margin: 15px;
  padding: var(--resultPadding);
}

.fake-result {
  background: lightgray;
  margin: 15px;
  border-radius: 15% 15% 15% 2%;
}

.fake-filler {
  height: 100px;
}

.result-title {
  margin-top: -5px;
  /* border: 1px blue solid; */
  font-size: 20px;
  font-weight: bold;
  padding: 3px 0px 0px 1px;
}

.time {
  /* border: 1px red solid; */
  padding: 2px 0px 0px 1px;
  font-size: 18px;
}

.diet, .source {
  padding: 2px 0px 0px 1px;
  font-style: italic;
  font-size: 17px;
}

.rating {
  padding: 5px 0px 0px 1px;
}

.fa-clock-o {
  /* border: 1px purple solid; */
}

/* Purple/Green Color scheme
Honeydew EDFFEC
Light Green 61E786
Independence 5A5766
Independence 48435C
Maximum Blue Purple 9792E3 */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.result-container {
  display: flex;
  flex: column;
}

.footing {
  margin-top: 30px;
  border-top: 3px solid black;
  background-image: url(seamlessWave.png);
  position: relative;
  bottom: 0;
  width: 100vw;
}

.logo-small {
  height: 70px;
  position: relative;
  left: 46.5vw;
  top: 10px;
}

#powered {
  position: relative;
  text-align: center;
}

/* #one, #two, #three, #four, #five {
  height: 100px;
  width: 100vw;
}

#one {
  background: #EDFFEC;
  border: 1px black solid;
}

#two {
  background: #61E786;
  border: 1px black solid;
}

#three {
  background: #5A5766;
  border: 1px black solid;
}

#four {
  background: #48435C;
  border: 1px black solid;
}

#five {
  background: #9792E3;
  border: 1px black solid;
} */

/* Purple/Green Color scheme
Honeydew EDFFEC
Light Green 61E786
Independence 5A5766
Independence 48435C
Maximum Blue Purple 9792E3 */