:root {
  --resultWidth: 280px;
  --resultPadding: 5px;
  --resultImage: calc(var(--resultWidth) - 5px - (var(--resultPadding) * 2));
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.homepage {
  background-image: url(seamlessWave.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.logo-biggest {
  height: calc(100vw / 4);
  left: 40%;
  top: calc(100vh / 7);
  position: fixed;
}

#home-company {
  position: fixed;
  left: 20%;
  top: calc(100vh / 3);
  font-size: calc(100vw / 8);
}

.getStarted {
  position: fixed;
  left: 35%;
  top: calc(100vh / 1.4);
  font-size: calc(100vw / 20);
  padding: 10px;
  border-radius: 20%;
  display: flexbox;
  border: red 2px solid;
  justify-content: center;
}

.getStarted:hover {
  color: red;
  transition: 0.5s;
}

body {
  margin: 0 auto;
}

.search {
  border-bottom: 3px black solid;
  height: 145px;
  background-image: url(seamlessWave.png);
}

.logo-big {
  position: relative;
  height: 100px;
  left: 40px;
  top: 20px;
}

#company {
  position: absolute;
  left: 150px;
  top: 40px;
}

.searchBar {
  position: absolute;
  right: 30px;
  top: 70px;
  font-weight: bold;
}

.featured {
  text-align: center;
}

.featured h4 {
  margin-top: -15px;
}

.featured img {
  height: 345px;
  width: 265px;
  border-radius: 15% 15% 15% 2%;
  border: 1px darkgray solid;
}

.yourResults {
  margin-top: 60px;
  padding-left: 20px;
}

.feature-result-container, .result-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px red solid; */
  justify-content: space-around;
}

.result-image {
  /* border: 1px indigo solid; */
  border-radius: 17% 17% 0 0;
  width: var(--resultImage);
}

.fake-result-image {
  width: var(--resultImage);
  height: calc(var(--resultImage) - 20px);
  border-radius: 17% 17% 0 0;
  background: darkgray;
}

.result {
  border: 2px black solid;
  border-radius: 15% 15% 15% 2%;
  width: var(--resultWidth);
  margin: 15px;
  padding: var(--resultPadding);
}

.fake-result {
  background: lightgray;
  margin: 15px;
  border-radius: 15% 15% 15% 2%;
}

.fake-filler {
  height: 100px;
}

.result-title {
  margin-top: -5px;
  /* border: 1px blue solid; */
  font-size: 20px;
  font-weight: bold;
  padding: 3px 0px 0px 1px;
}

.time {
  /* border: 1px red solid; */
  padding: 2px 0px 0px 1px;
  font-size: 18px;
}

.diet,
.source {
  padding: 2px 0px 0px 1px;
  font-style: italic;
  font-size: 17px;
}

.rating {
  padding: 5px 0px 0px 1px;
}

.fa-clock-o {
  /* border: 1px purple solid; */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.result-container {
  display: flex;
  flex: column;
}

.footing {
  margin-top: 30px;
  border-top: 3px solid black;
  background-image: url(seamlessWave.png);
  position: relative;
  bottom: 0;
  width: 100vw;
}

.logo-small {
  height: 70px;
  position: relative;
  left: 46.5vw;
  top: 10px;
}

#powered {
  position: relative;
  text-align: center;
}

@media (max-width: 600px) {
  .logo-big {
    display: none;
  }

  #company {
    position: absolute;
    text-align: center;
    top: 15px;
    left: 35%;
  }

  .search {
    border-bottom: 3px black solid;
  }

  .searchBar {
    font-weight: bold;
    position: relative;
    justify-content: center;
    text-align: center;
    top: 95px;
    left: 10px;
  }
}